{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "summary": "tmp/summary-log.txt",
        "text": "tmp/infection-log.txt"
    },
    "tmpDir": "tmp"
}