{% spaceless %}
<div class="neutral-message">
  <img alt="" class="image" src="{{ asset("img/loading_fountain.gif") }}">
</div>
<ul class="two-steps-process">
  <ol class="step">
    <div class="stepindex">1</div>
    <figure class="stepfigure">
      <figcaption class="stepcaption">Plug in your U2F key…</figcaption>
      <img alt="Plug your U2F key." class="stepimage" src="{{ asset("img/plug_u2f_key.jpg") }}">
    </figure>
  </ol>
  <ol class="step">
    <div class="stepindex">2</div>
    <figure class="stepfigure">
      <figcaption class="stepcaption">…and activate it!</figcaption>
      <img alt="Activate your U2F key." class="stepimage" src="{{ asset("img/activate_u2f_key.jpg") }}">
    </figure>
  </ol>
</ul>
{% endspaceless %}