{% extends 'base.html.twig' %}

{%- block title -%}Please enter your credentials{%- endblock -%}

{%- block body -%}
<p>Please enter your credentials to prove your identity.</p>
{{ form(form, {"attr": {"id": form.vars.id}}) }}
{%- endblock -%}