{%- extends 'base.html.twig' -%}

{%- block title -%}Choose your credential{%- endblock -%}

{%- block body -%}
<p>Enter the credentials you want for your account.</p>
{{ form(form) }}
{%- endblock -%}