{%- extends 'base.html.twig' -%}

{%- block title -%}Password authentication{%- endblock -%}

{%- block body -%}
<p>Please enter your current password to confirm your identity.</p>
{{ form(form) }}
{%- endblock -%}